body {
    font-family: 'Pretendard', sans-serif;
}

@media (max-width: 1366px) {
    .text-member {
        font-size: 42px;
    }
}

.page-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
    gap: 80px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-text {
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    margin-top: 100px;
    line-height: 1.4;
}

.left-bottom {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
}

.btn-back {
    width: 300px;
    height: 100px;
    font-size: 36px;
    font-weight: 700;
    background-color: #171717;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 550px;
}

.keypad-container {
    margin-top: 120px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keypad-display-wrapper {
    width: 540px;
    margin-bottom: 20px;
}

.keypad-display {
    font-size: 48px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 30px;
}

.divider-line {
    height: 2px;
    background-color: #000000;
    width: 580px;
    margin: 0;
    margin-left: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    column-gap: 100px;
    row-gap: 20px;
}

.keypad button {
    width: 180px;
    height: 100px;
    font-size: 48px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #000000;
}

.btn-fixed {
    width: 300px;
    height: 100px;
    font-size: 36px;
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 130px;
    right: 100px;
    z-index: 1000;
}
